<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    
</head>

    <div class="container3">
    <h2>Add New User</h2>
            <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Individual User</mat-radio-button>
            <mat-radio-button value="2" >Import User</mat-radio-button>
          </mat-radio-group>        
</div>
<hr>

    <div class="container">
        <form>
            <div class="row">
                <div class="column" id="Category">
                    <label for="Username" >Username</label>
                    <input type="text" id="Username" placeholder="Enter Username">
                    <div class="alert alert-danger" role="alert" style="text-align: center; ">
                        Username is Required.
                      </div>
                </div>
                <div class="column">
                    <label for="Password">Password</label>
                    <input type="Password" id="Password" placeholder="Enter Password">
                    <div class="alert alert-danger" role="alert" style="text-align: center">
                        Password is Required.
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="Email">Email</label>
                    <input type="Email" id="Email" placeholder="Enter Email">
                    <div class="alert alert-danger" role="alert" style="text-align: center;">
                        Email is Required.
                      </div>
                </div>
                <div class="column">
                    <label for="Phone Number">Phone Number</label>
                    <input type="Phone Number" id="Phone Number" placeholder="Enter Phone Number">
                    <div class="alert alert-danger" role="alert" style="text-align: center;">
                        Phone Number is Required.
                      </div>
                </div>
                <div class="column">
                    <label for="Select Role">Select Role</label>
                    <input type="Select Role" id="Select Role" placeholder="Enter Role">
                    <div class="alert alert-danger" role="alert" style="text-align: center;  ">
                        Role is Required.
                      </div>
                </div>
            </div>
            <div class="container2">
            <button type="button" class="btn btn-outline-secondary">Add</button>
            <div class="alert alert-danger" role="alert" style="text-align: center; padding: 2px; margin: 1rem;">              
              </div>
        </div>
        </form>

    </div>


    

</html>