<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    
</head>
<body>
    <div class="container3">
    <h2>Masters Table</h2>
    <div class="scrollmenu">
     <a href="masterpage" class="active">User Role Ref</a>
     <a href="vehicle">vehicle Type</a>
     <a href="state">State </a>
     <a href="status">Status</a>
     <a href="subscription">Subscription</a>
     
   </div>    
</div>
</body>
<div class="container">   
    <form [formGroup]="userroleform">
        <h1>User Role </h1><br>
        <div   class="row">
            <div class="column" id="User_Role_Name">
                <label for="User_Role_Name" >User Role Name</label>
                <select id="User_Role_Name" formControlName="User_Role_Name" style="width: 100%; font-weight: 400; padding: 8px 10px; border-radius: 5px; border: 1.2px solid #c4cae0; margin-top: 5px;">
                    <option>User </option>
                    <option>Driver</option>
                    <option>Owner</option>
                </select>
                <div class="alert alert-danger" *ngIf="User_Role_Name.invalid && User_Role_Name.touched" role="alert" style="text-align: center;padding: 2px; margin: 1rem;">
                    User Role Name is Required.
                  </div>              
            
                
            </div>
            <div class="column">

            </div>
        </div>
              
        
        
        <div class="container2">
            <button [disabled]="userroleform.invalid"  type="button" (click)="lusers()" class="btn btn-outline-secondary"  >submit</button>
          
            
        </div>
    
    </form>

</div>
</html>