*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
}
div.scrollmenu {
    background-color: #ffffff;
    overflow: auto;
    white-space: nowrap;
    background-position: center;
    
    
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 35px;
    text-decoration: none;
    
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }
  .scrollmenu a.active {
    border-bottom: 3px solid rgb(64, 0, 255);
  }
.container{
    background-color: #ffffff;
    width: 70%;
    min-width: 420px;
    padding: 35px 50px;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 75%;
    border-radius: 10px;
    box-shadow: 20px 30px 25px rgba(0,0,0,0.15);
}
.container2{
    text-align: center;
}
.container3{
      width: 100%;
      padding: 25px 50px;
      height: auto; 
}
.container4{
    background-color: #ffffff;
    width: 70%;
    min-width: 420px;
    padding: 35px 50px;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 165%;
    border-radius: 10px;
    box-shadow: 20px 30px 25px rgba(0,0,0,0.15);
}
.container5{
    background-color: #ffffff;
    width: 70%;
    min-width: 420px;
    padding: 35px 50px;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 255%;
    border-radius: 10px;
    box-shadow: 20px 30px 25px rgba(0,0,0,0.15);
}
h1{
    font-size: 28px;
    text-align: center;
    color: #1c093c;
}
h2{
    font-size: 30px;
    text-align: center;
    color: #1c093c;
}

form{
    width: 100%;
    position: relative;
    margin: 30px auto 0 auto;
}
.row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 20px 30px;
    margin-bottom: 20px;
}
label{
    color: #1c093c;
    font-size: 14px;
}
textarea,
input{
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
}
textarea{
    resize: none;
}
textarea:focus,
input:focus{
    outline: none;
    border-color: #6f6df4;
}
button{    
    padding: 10px 100px;   
    border-radius: 2px;
    
}

