<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    
</head>
<body>
    <div class="container3">
    <h2>Masters Table</h2>
    <div class="scrollmenu">
     <a href="#Category" class="active">Product Category</a>
     <a href="#news">Product Sub Category</a>
     <a href="#contact">Discount</a>
     <a href="#about">Attributes and its option</a>
     <a href="#support">Roles and Accsess</a>
     <a href="#blog">Shipping Charges</a>
     <a href="#blog">Shipping Charges</a>
      <a href="#blog">Shipping Charges</a>
   </div>    
</div>
</body>
    <div class="container">
        <h1>Add New Product Category</h1>        
        <form>
            <div class="row">
                <div class="column" id="Category">
                    <label for="name" >Product Category Name</label>
                    <input type="text" id="name" placeholder="Product Category Name">
                    <div class="alert alert-danger" role="alert" style="text-align: center;">
                        Product Category Name is Required.
                      </div>
                </div>
                <div class="column">
                    <label for="email">Product Category Description</label>
                    <input type="email" id="email" placeholder="Product Category Description">
                    <div class="alert alert-danger" role="alert" style="text-align: center; ">
                        Product Category Description is Required.
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="subject">Image</label>
                    <input class="form-control" type="file" id="Image">
                    <div class="alert alert-danger" role="alert" style="text-align: center;">
                        Image is Required.
                      </div>
                </div>
                <div class="column">
                    
                </div>
            </div>
            <div class="container2">
            <button type="button" class="btn btn-outline-secondary">Add</button>
            <div class="alert alert-danger" role="alert" style="text-align: center; padding: 2px; margin: 1rem;">              
              </div>
        </div>
        </form>
    </div>

    <div class="container4">
        <h1>All Product Category </h1>
        <label>Filter</label>         
        <table class="table">
            <thead class="table-dark">
              <tr style="text-align: center;">
                  <th scope="col">sl No.</th> 
                  <th scope="col">Product Category Name</th>
                  <th scope="col">Product  Description</th>
                  <th scope="col">Image</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Delete</th>
            </thead>
            <tbody style="text-align: center;">
                <tr >
                    <th scope="row">1</th>
                    <td>Men</td>
                    <td>23</td>
                    <td>img</td>
                    <td>edit</td>
                    <td>delete</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Women</td>
                    <td>A shirt is a cloth garment for upper body</td>
                    <td>img</td>
                    <td>edit</td>
                    <td>delete</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Kids</td>
                    <td>A shirt is a cloth garment for upper body</td>
                    <td>img</td>
                    <td>edit</td>
                    <td>delete</td>
                  </tr>
            </tbody>
          </table><br>
          <button type="button" class="btn btn-primary">Downlod</button>
    </div>

    <div class="container5">
        <h1>Update Product Category </h1>        
        <form>
            <div class="row">
                <div class="column" id="Category">
                    <label for="name" >Product Category Name</label>
                    <input type="text" id="name" placeholder="Product Category Name">
                    <div class="alert alert-danger" role="alert" style="text-align: center;">
                        Product Category Name is Required.
                      </div>
                </div>
                <div class="column">
                    <label for="email">Product Category Description</label>
                    <input type="email" id="email" placeholder="Product Category Description">
                    <div class="alert alert-danger" role="alert" style="text-align: center; ">
                        Product Category Description is Required.
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="subject">Image</label>
                    <input class="form-control" type="file" id="Image">
                    <div class="alert alert-danger" role="alert" style="text-align: center;">
                        Image is Required.
                      </div>
                </div>
                <div class="column">
                    
                </div>
            </div>
            <div class="container2">
            <button type="button" class="btn btn-outline-secondary">Update</button>
            <div class="alert alert-danger" role="alert" style="text-align: center; padding: 2px; margin: 1rem;">              
            </div>
        </div>
        </form>
    </div>

</html>