.login-wrapper{
    margin: 20rem auto;
    width: 20rem;
    margin-top: 10rem;
}
button{
    width: 10rem;
    margin-left: 4rem;
    
    
}
.form-control.ng-touched.ng-invalid {
    border:1px solid red;
   }
   .form-control.ng-touched.ng-valid {
    border:1px solid green;
   }