<div class="login-wrapper">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="mb-3">
                  <label for="exampleInputUsername1" class="form-label">Username</label>
                  <input type="Username" class="form-control" id="exampleInputUsername1" aria-describedby="UsernameHelp" placeholder="Enter Username">
                  
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
                </div>
                <button type="button" class="btn btn-outline-secondary">Login</button>
              </form>
    
        </div>
    </div>

</div>


