<mat-toolbar color="rgb(233,236,239)" *ngIf="displaymenu">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
        </button>
        <h1>Logistics</h1>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container >
    <mat-sidenav #sidenav style="width: 12rem; ">
        <mat-nav-list >            
            
            <div class="dropdown">
                <button  class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    User    
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a mat-list-item routerLink="newuser">Add New User</a></li>
                  <li><a mat-list-item routerLink="customuser">Custom User</a></li>
               </ul>
              </div>          
              <a mat-list-item routerLink="driver">Driver</a>          
            <a mat-list-item routerLink="review">Review </a>    
            <a mat-list-item routerLink="custaddress">Customer Address </a> 
            <div class="dropdown">
              <button  class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Dilevery    
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a mat-list-item routerLink="pickupdet">Pickup Details</a></li>
                <li><a mat-list-item routerLink="dropdet">Drop Details</a></li>
             </ul>
            </div>  
            <a mat-list-item routerLink="allcartitem">Coupons</a> 
            <a mat-list-item routerLink="allcartitem">state</a>  
            <a mat-list-item routerLink="allcartitem">status</a>
            <a mat-list-item routerLink="placeord">Place Order</a>
            <a mat-list-item routerLink="in-order">In Order</a>
            <a mat-list-item routerLink="paymentdetails">Payment Details</a>
            <a mat-list-item routerLink="accountdetails">Account</a>
            <a mat-list-item routerLink="masterpage">Masterpage </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height:100vh;">
        <router-outlet>            
        </router-outlet>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
