<mat-toolbar color="rgb(233,236,239)" *ngIf="displaymenu">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
        </button>
        <h1>Logistics</h1>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container >
    <mat-sidenav #sidenav style="width: 12rem; ">
        <mat-nav-list >            
            
            <div class="dropdown">
                <button  class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    User    
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a mat-list-item routerLink="newuser">Add New User</a></li>
                  <li><a mat-list-item routerLink="alluser">All Users</a></li>
                </ul>
              </div>
                <div class="dropdown">
                <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Teams    
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a mat-list-item routerLink="addteam">Add Team</a></li>
                  <li><a mat-list-item routerLink="allteam">All Team</a></li>
                </ul>
              </div> 
              <div class="dropdown">
                <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Testimonials    
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a mat-list-item routerLink="addtestimonials">Add Testimonials</a></li>
                  <li><a mat-list-item routerLink="alltestimonials">All Testimonials</a></li>
                </ul>
              </div> 
              <div class="dropdown">
                <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Promocode    
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a mat-list-item routerLink="addpromocode">Add Promocode</a></li>
                  <li><a mat-list-item routerLink="allpromocode">All Promocode</a></li>
                </ul>
              </div>     
            <a mat-list-item routerLink="allcartitem">All Cart Items</a>          
            <a mat-list-item routerLink="masterpage">Master </a>    
            <a mat-list-item routerLink="vehicle">vehicle Type </a> 
            <a mat-list-item routerLink="login">Logout </a>      
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height:100vh;">
        <router-outlet>            
        </router-outlet>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
