<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    
</head>
<body>
    <div class="container3">
    <h2>Masters Table</h2>
    <div class="scrollmenu">
     <a href="masterpage" >User Role Ref</a>
     <a href="vehicle">vehicle Type</a>
     <a href="state" class="active">State </a>
     <a href="status">Status</a>
     <a href="subscription">Subscription</a>
     <a href="#blog"></a>
     <a href="#blog"></a>
      <a href="#blog"></a>
   </div>    
</div>
</body>

    
<div class="container">   
    <form [formGroup]="stateform">
        <h1>State </h1><br>
        <div class="row">
            <div class="column" id="Category">
                
                
            </div>
            <div class="column">
                <label for="State_name">State Name</label>
                <input formControlName="State_name" type="State_name" id="State_name" placeholder="Enter State Name">
                <div class="alert alert-danger" *ngIf="State_name.invalid && State_name.touched" role="alert" style="text-align: center;padding: 2px; margin: 1rem;">
                    State Name is Required.
                  </div>
               
            </div>
        </div>
              
        
        
        <div class="container2">
            <button [disabled]="stateform.invalid"  (click)="states()"  type="button" class="btn btn-outline-secondary">ADD</button>
            
        </div>
    
    </form>

</div>

</html>