<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    
</head>
<body><h1>Add Testimonials </h1>
    <hr>
<div class="container">   
    <form [formGroup]="atestimo!">
        <div class="row">
            <div class="column" id="Category">
                <label for="Name" > Name</label>
                <input formControlName="name" type="text" id="name" placeholder="Enter  Name">
                <div class="alert alert-danger" *ngIf="name.invalid && name.touched"  role="alert" style="text-align: center;padding: 2px; margin: 1rem;">
                    Name is Required.
                 </div>
                
            </div>
            <div class="column">
                <label for="Category">Category</label>
                <input formControlName="catag" type="Category" id="category" placeholder="Enter Category">
                <div class="alert alert-danger" *ngIf="catag.invalid && catag.touched" role="alert" style="text-align: center;padding: 2px; margin: 1rem;">
                    Category is Required.
                 </div>
               
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label for="Image"> Image</label>
                    <input formControlName="image" class="form-control" type="file" id="Image">
                    <div class="alert alert-danger" *ngIf="image.invalid && image.touched" role="alert" style="text-align: center;padding: 2px; margin: 1rem;">
                         Image is Required.
                      </div>
            </div>
            <div class="column">
                <label for="Video"> Video</label>
                <input formControlName="video" type="video" id="Video" placeholder="Enter Video url">
                <div class="alert alert-danger" *ngIf="video.invalid && video.touched"  role="alert" style="text-align: center;padding: 2px; margin: 1rem;  ">
                     Video is Required.
                  </div>
            </div>
            
        </div>
        <div class="row">
            <div class="column">
                <label for="rating">Rating</label>
                <input formControlName="rating" type="rating" id="rating" placeholder="Enter Rating">
                <div class="alert alert-danger" *ngIf="rating.invalid && rating.touched" role="alert" style="text-align: center;padding: 2px; margin: 1rem;  ">
                    Rating is Required.
                  </div>
            </div>
            <div class="column">
                <label for="fsdisc">Feedback Small Discription</label>
                <input formControlName="fsdisc" type="feddbackd" id="feddbackd"  placeholder="Enter Feedback Small Discription">
                <div class="alert alert-danger" *ngIf="fsdisc.invalid && fsdisc.touched" role="alert" style="text-align: center;padding: 2px; margin: 1rem;  ">
                    Feedback Small Discription is Required.
                  </div>
            </div>            
        </div>
        <div class="row">
            <div class="column">
                <label for="fddisc">Feedback Detailed Discription</label>
                <input formControlName="fddisc" type="feddbackdd" id="feddbackdd" placeholder="Enter Feedback Detailed Discription">
                <div class="alert alert-danger" *ngIf="fddisc.invalid && fddisc.touched" role="alert" style="text-align: center;padding: 2px; margin: 1rem;  ">
                    Feedback Detailed Discription is Required.
                  </div>
            </div>
            <div class="column">
            </div>            
        </div>
        
        <div class="container2">
        <button [disabled]="atestimo!.invalid" type="button" class="btn btn-outline-secondary">Submit</button>
        
    </div>
    
    </form>

</div>
</body>
</html>