<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    
</head>
<body><h1>Add Testimonials </h1>
    <hr>
<div class="container">   
    <form>
        <div class="row">
            <div class="column" id="Category">
                <label for="Name" > Name</label>
                <input type="text" id="name" placeholder="Enter  Name">
                <div class="alert alert-danger" role="alert" style="text-align: center;">
                    Name is Required.
                 </div>
                
            </div>
            <div class="column">
                <label for="Category">Category</label>
                <input type="Category" id="category" placeholder="Enter Category">
                <div class="alert alert-danger" role="alert" style="text-align: center;">
                    Category is Required.
                 </div>
               
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label for="Image"> Image</label>
                    <input class="form-control" type="file" id="Image">
                    <div class="alert alert-danger" role="alert" style="text-align: center;">
                         Image is Required.
                      </div>
            </div>
            <div class="column">
                <label for="Video"> Videor</label>
                <input type="video" id="Video" placeholder="Enter Video url">
                <div class="alert alert-danger" role="alert" style="text-align: center;  ">
                     Video is Required.
                  </div>
            </div>
            
        </div>
        <div class="row">
            <div class="column">
                <label for="rating">Rating</label>
                <input type="rating" id="rating" placeholder="Enter Rating">
                <div class="alert alert-danger" role="alert" style="text-align: center;  ">
                    Rating is Required.
                  </div>
            </div>
            <div class="column">
                <label for="feddbackd">Feedback Small Discription</label>
                <input type="feddbackd" id="feddbackd"  placeholder="Enter Feedback Small Discription">
                <div class="alert alert-danger" role="alert" style="text-align: center;  ">
                    Feedback Small Discription is Required.
                  </div>
            </div>            
        </div>
        <div class="row">
            <div class="column">
                <label for="feddbackdd">Feedback Detailed Discription</label>
                <input type="feddbackdd" id="feddbackdd" placeholder="Enter Feedback Detailed Discription">
                <div class="alert alert-danger" role="alert" style="text-align: center;  ">
                    Feedback Detailed Discription is Required.
                  </div>
            </div>
            <div class="column">
            </div>            
        </div>
        
        <div class="container2">
        <button type="button" class="btn btn-outline-secondary">Submit</button>
        <div class="alert alert-danger" role="alert" style="text-align: center; padding: 2px; margin: 1rem;">              
          </div>
    </div>
    
    </form>

</div>
</body>
</html>