<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    
</head>

    
<div class="container">   
    <form [formGroup]="anewp!">
        <h1>Add New Product </h1><br>
        <div class="row">
            <div class="column" id="Category">
                <label for="Pname" >Product name</label>
                <input formControlName="pname" type="text" id="Pname" placeholder="Enter Product name">
                <div class="alert alert-danger" *ngIf="pname.invalid && pname.touched" role="alert" style="text-align: center;padding: 2px; margin: 1rem;">
                    Product name is Required.
                  </div>
                
            </div>
            <div class="column">
                <label for="productds">Product Description</label>
                <input formControlName="pdesc" type="productds" id="productds" placeholder="Enter Product Description">
                <div class="alert alert-danger" *ngIf="pdesc.invalid && pdesc.touched" role="alert" style="text-align: center;padding: 2px; margin: 1rem;">
                    Product Description is Required.
                  </div>
               
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label for="pimage">Product Image</label>
                    <input formControlName="pimage" class="form-control" type="file" id="Image">
                    <div class="alert alert-danger" *ngIf="pimage.invalid && pimage.touched" role="alert" style="text-align: center;padding: 2px; margin: 1rem;">
                        Product Image is Required.
                      </div>
            </div>
            <div class="column">
                <label for="productv">Product Videor</label>
                <input formControlName="pvideo" type="productv" id="productv" placeholder="Enter Video url">
                <div class="alert alert-danger"  *ngIf="pvideo.invalid && pvideo.touched" role="alert" style="text-align: center;padding: 2px; margin: 1rem;  ">
                    Product Video is Required.
                  </div>
            </div>
            
        </div>
        <div class="row">
            <div class="column">
                <label for="gst">GST</label>
                <input formControlName="gst" type="gst" id="gst" placeholder="Enter GST">
                <div class="alert alert-danger"  *ngIf="gst.invalid && gst.touched" role="alert" style="text-align: center;padding: 2px; margin: 1rem;  ">
                    GST is Required.
                  </div>
            </div>
            <div class="column">
                <label for="ProductLP">Product Listed Price</label>
                <input formControlName="lprise" type="ProductLP" id="ProductLP"  placeholder="Enter Product Listed Price">
                <div class="alert alert-danger"  *ngIf="lprise.invalid && lprise.touched" role="alert" style="text-align: center;padding: 2px; margin: 1rem;  ">
                    Product Listed Price is Required.
                  </div>
            </div>
            
        </div>
        <div class="row">
            <div class="column">
                <label for="productd">Product Details</label>
                <input formControlName="pdetail" type="productd" id="productd" placeholder="Enter Product Details">
                <div class="alert alert-danger" *ngIf="pdetail.invalid && pdetail.touched" role="alert" style="text-align: center;padding: 2px; margin: 1rem; ">
                    Product Details is Required.
                  </div>
            </div>
            <div class="column">
                <label for="productsp">Product Selling Price</label>
                <input formControlName="psprise" type="productsp" id="productsp" placeholder="Enter Product Selling Price">
                <div class="alert alert-danger" *ngIf="psprise.invalid && psprise.touched" role="alert" style="text-align: center;padding: 2px; margin: 1rem; ">
                    Product Selling Price is Required.
                  </div>
            </div>
            
        </div>
        <div class="row">
            <div class="column">
                <label for="hsncode">HSN/SAC Code</label>
                <input formControlName="hscode" type="hsncode" id="hsncode" placeholder="Enter HSN/SAC Code">
                <div class="alert alert-danger" *ngIf="hscode.invalid && hscode.touched" role="alert" style="text-align: center;padding: 2px; margin: 1rem;  ">
                    HSN/SAC Code is Required.
                  </div>
            </div>
            <div class="column">
                <label for="status">Status</label>
                <input formControlName="status" type="status" id="status" placeholder="Enter Status">
                <div class="alert alert-danger" *ngIf="status.invalid && status.touched" role="alert" style="text-align: center;padding: 2px; margin: 1rem;  ">
                    Status is Required.
                  </div>
            </div>            
        </div>
        <div class="row">
            <div class="column">
                <label for="washint">Washing Instruction</label>
                <input formControlName="washingi" type="washint" id="washint" placeholder="Enter Washing Instruction">
                <div class="alert alert-danger" *ngIf="washingi.invalid && washingi.touched" role="alert" style="text-align: center;padding: 2px; margin: 1rem;  ">
                    Washing Instruction is Required.
                  </div>
            </div>
            <div class="column">
                <label for="bname">Brand Name</label>
                <input formControlName="bname" type="bname" id="bname" placeholder="Enter Brand Name">
                <div class="alert alert-danger" *ngIf="bname.invalid && bname.touched" role="alert" style="text-align: center;padding: 2px; margin: 1rem;  ">
                    Brand Name is Required.
                  </div>
            </div>            
        </div>
        <div class="row">
            <div class="column">
                <label for="producn">Product Category Name</label>
                <input formControlName="pcname" type="producn" id="producn" placeholder="Enter Product Category Name">
                <div class="alert alert-danger" *ngIf="pcname.invalid && pcname.touched" role="alert" style="text-align: center;padding: 2px; margin: 1rem; ">
                    Product Category Name is Required.
                  </div>
            </div>
            <div class="column">
                <label for="produscn">Product Sub Category Name</label>
                <input formControlName="pscname" type="produscn" id="produscn" placeholder="Enter Product Sub Category Name">
                <div class="alert alert-danger" *ngIf="pscname.invalid && pscname.touched" role="alert" style="text-align: center;padding: 2px; margin: 1rem;  ">
                    Product Sub Category Name is Required.
                  </div>
            </div>            
        </div>
        <div class="container2">
        <button [disabled]="anewp!.invalid" type="button" class="btn btn-outline-secondary">Submit</button>
        
    </div>
    
    </form>

</div>

</html>