<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    
</head>
<body><h1>Add New Product </h1>
    <hr>
<div class="container">   
    <form>
        <div class="row">
            <div class="column" id="Category">
                <label for="Pname" >Product name</label>
                <input type="text" id="Pname" placeholder="Enter Product name">
                
            </div>
            <div class="column">
                <label for="productds">Product Description</label>
                <input type="productds" id="productds" placeholder="Enter Product Description">
               
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label for="pimage">Product Image</label>
                    <input class="form-control" type="file" id="Image">
                    <div class="alert alert-danger" role="alert" style="text-align: center;">
                        Product Image is Required.
                      </div>
            </div>
            <div class="column">
                <label for="productv">Product Videor</label>
                <input type="productv" id="productv" placeholder="Enter Video url">
                <div class="alert alert-danger" role="alert" style="text-align: center;  ">
                    Product Video is Required.
                  </div>
            </div>
            
        </div>
        <div class="row">
            <div class="column">
                <label for="gst">GST</label>
                <input type="gst" id="gst" placeholder="Enter GST">
                <div class="alert alert-danger" role="alert" style="text-align: center;  ">
                    GST is Required.
                  </div>
            </div>
            <div class="column">
                <label for="ProductLP">Product Listed Price</label>
                <input type="ProductLP" id="ProductLP"  placeholder="Enter Product Listed Price">
                <div class="alert alert-danger" role="alert" style="text-align: center;  ">
                    Product Listed Price is Required.
                  </div>
            </div>
            
        </div>
        <div class="row">
            <div class="column">
                <label for="productd">Product Details</label>
                <input type="productd" id="productd" placeholder="Enter Product Details">
                <div class="alert alert-danger" role="alert" style="text-align: center; ">
                    Product Details is Required.
                  </div>
            </div>
            <div class="column">
                <label for="productsp">Product Selling Price</label>
                <input type="productsp" id="productsp" placeholder="Enter Product Selling Price">
                <div class="alert alert-danger" role="alert" style="text-align: center; ">
                    Product Selling Price is Required.
                  </div>
            </div>
            
        </div>
        <div class="row">
            <div class="column">
                <label for="hsncode">HSN/SAC Code</label>
                <input type="hsncode" id="hsncode" placeholder="Enter HSN/SAC Code">
                <div class="alert alert-danger" role="alert" style="text-align: center;  ">
                    HSN/SAC Code is Required.
                  </div>
            </div>
            <div class="column">
                <label for="status">Status</label>
                <input type="status" id="status" placeholder="Enter Status">
                <div class="alert alert-danger" role="alert" style="text-align: center;  ">
                    Status is Required.
                  </div>
            </div>            
        </div>
        <div class="row">
            <div class="column">
                <label for="washint">Washing Instruction</label>
                <input type="washint" id="washint" placeholder="Enter Washing Instruction">
                <div class="alert alert-danger" role="alert" style="text-align: center;  ">
                    Washing Instruction is Required.
                  </div>
            </div>
            <div class="column">
                <label for="bname">Brand Name</label>
                <input type="bname" id="bname" placeholder="Enter Brand Name">
                <div class="alert alert-danger" role="alert" style="text-align: center;  ">
                    Brand Name is Required.
                  </div>
            </div>            
        </div>
        <div class="row">
            <div class="column">
                <label for="producn">Product Category Name</label>
                <input type="producn" id="producn" placeholder="Enter Product Category Name">
                <div class="alert alert-danger" role="alert" style="text-align: center; ">
                    Product Category Name is Required.
                  </div>
            </div>
            <div class="column">
                <label for="produscn">Product Sub Category Name</label>
                <input type="produscn" id="produscn" placeholder="Enter Product Sub Category Name">
                <div class="alert alert-danger" role="alert" style="text-align: center;  ">
                    Product Sub Category Name is Required.
                  </div>
            </div>            
        </div>
        <div class="container2">
        <button type="button" class="btn btn-outline-secondary">Submit</button>
        <div class="alert alert-danger" role="alert" style="text-align: center; padding: 2px; margin: 1rem;">              
          </div>
    </div>
    
    </form>

</div>
</body>
</html>