<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    

</head>
    <div class="container">
        <form [formGroup]="imuser!">
            <div class="row">
                <div class="container3">
                    <h2>Import User</h2>
                            <mat-radio-group aria-label="Select an option">
                            <mat-radio-button value="show" routerLink="/newuser">Individual User</mat-radio-button>
                            <mat-radio-button value="hide"checked routerLink="/importuser" >Import User</mat-radio-button>
                          </mat-radio-group>        
                </div>
                

            </div>

            
            
            
            <div class="row">
                <div class="column">
                    <label for="subject">Image</label>
                    <input  formControlName="image" class="form-control"  type="file" id="Image">
                    <div class="alert alert-danger" *ngIf="image.invalid && image.touched" role="alert" style="text-align: center; padding: 2px; margin: 1rem;">
                        Image is Required.
                      </div>
                </div>
                
            </div>
            <div class="container2">
            <button [disabled]="imuser!.invalid" type="button" class="btn btn-outline-secondary">Submit</button>
                  </div>
        </form>
    </div>

   
</html>