<div class="container4" >
    <h1>Import New File </h1>        
    <form id="import" >
        <div class="cen">
      <div class="row" >
            <div class="column" >
                <label for="subject" >Uplode File</label>
                <input class="form-control" type="file" id="Image" >
              
            </div>               
            </div>
        </div>
        <div class="container2">
        <button type="button" class="btn btn-outline-secondary">Submit</button>
        <div class="alert alert-danger" role="alert" style="text-align: center; padding: 2px; margin: 1rem;">              
        </div>
    </div>
    </form>
</div>