<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    
</head>
   <div class="container">
        <h1 id="addnewpc">Add Promocode</h1>        
        <form>
            <div class="row">
                <div class="column" id="Discount">
                    <label for="Discount" >Discount</label>
                    <input type="text" id="Discount" placeholder="Discount">
                    <div class="alert alert-danger" role="alert" style="text-align: center;">
                        Discount is Required.
                      </div>
                </div>
                <div class="column">
                    <label for="quantity">Quantity</label>
                    <input type="quantity" id="quantity" placeholder="Quantity">
                    <div class="alert alert-danger" role="alert" style="text-align: center; ">
                        quantity is Required.
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="exptime">Expiry TimeStamp</label>
                    <input type="date" id="exptime"  placeholder="Enter Expiry TimeStamp">
                    <div class="alert alert-danger" role="alert" style="text-align: center;  ">
                        Expiry TimeStamp is Required.
                      </div>
                </div>
                <div class="column">
                    
                </div>
            </div>
            <div class="container2">
            <button type="button" class="btn btn-outline-secondary">Submit</button>
            <div class="alert alert-danger" role="alert" style="text-align: center; padding: 2px; margin: 1rem;">              
              </div>
        </div>
        </form>
    </div>
</html>