<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    
</head>
<body>
    
</body>
    <div class="container4">
        <h1>All Promo Code </h1>
        <label>Filter</label>         
        <table class="table">
            <thead class="table-dark">
              <tr style="text-align: center;">
                  <th scope="col">Sl No</th> 
                  <th scope="col">Code</th>
                  <th scope="col">Code</th>
                  <th scope="col">Discount</th>
                  <th scope="col">Status</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Expiry Date</th>
                  <th scope="col">Delete</th>
            </thead>
            <tbody style="text-align: center;">
                
            </tbody>
          </table>
          
    </div>

    

</html>