<div class="container5">             
    <h1>All Users </h1>
    <label>Filter</label>         
    <table class="table">
        <thead class="table-dark">
          <tr style="text-align: center;">
              <th scope="col">sl No.</th> 
              <th scope="col">Product name</th>
              <th scope="col">Product Description</th>
              <th scope="col">Product Image</th>
              <th scope="col">Product Videor</th>
              <th scope="col">GST</th>
              <th scope="col">Product Listed Price</th>
              <th scope="col">Product Selling Price</th>
              <th scope="col">HSN/SAC Code</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
        </thead>
        <tbody style="text-align: center;">
            <tr >
                <th scope="row">48</th>
                <td>Shirt</td>
                <td>Rayon cloths</td>
                <td>img</td>
                <td></td>
                <td></td>
                <td>999</td>
                <td>999</td>
                <td>ABCD1234</td>

              </tr>
              <tr>
                <th scope="row">50</th>
                <td>Tshirt</td>
                <td>Rayon cloths</td>
                <td>img</td>
                <td></td>
                <td></td>
                <td>999</td>
                <td>999</td>
                <td>ABCD1234</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Pants</td>
                <td>Rayon cloths</td>
                <td>img</td>
                <td></td>
                <td></td>
                <td>999</td>
                <td>999</td>
                <td>ABCD1234</td>
              </tr>
        </tbody>
      </table><br>
</div>