<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    
</head>
<body>
    <div class="container3">
    <h2>Masters Table</h2>
    <div class="scrollmenu">
     <a href="masterpage" >User Role Ref</a>
     <a href="vehicle" class="active">vehicle Type</a>
     <a href="state" >State </a>
     <a href="status">Status</a>
     <a href="subscription">Subscription</a>
     
   </div>    
</div>
</body>
    
<div class="container">   
    <form [formGroup]="vehicaleform">
        <h1>Vehicle Type </h1><br>
        <div class="row">
            <div class="column" id="Category">
                <label for="vehicleTypeName" >Vehicle Type Name</label>
                <input formControlName="vehicleTypeName" type="text" id="vehicleTypeName" placeholder="Enter vehicle Type Name">
                <div class="alert alert-danger" *ngIf="vehicleTypeName.invalid && vehicleTypeName.touched" role="alert" style="text-align: center;padding: 2px; margin: 1rem;">
                    vehicle Type Name is Required.
                  </div>
                
            </div>
            <div class="column">
                <label for="capacity">Capacity</label>
                <input formControlName="capacity" type="capacity" id="capacity" placeholder="Enter capacity">
                <div class="alert alert-danger" *ngIf="capacity.invalid && capacity.touched" role="alert" style="text-align: center;padding: 2px; margin: 1rem;">
                    capacity is Required.
                  </div>
               
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label for="size">Size</label>
                <input formControlName="size" type="size" id="size" placeholder="Enter size">
                    <div class="alert alert-danger" *ngIf="size.invalid && size.touched" role="alert" style="text-align: center;padding: 2px; margin: 1rem;">
                        size is Required.
                      </div>
            </div>
            <div class="column">
                <label for="details">Details</label>
                <input formControlName="details" type="details" id="details" placeholder="Enter Details">
                <div class="alert alert-danger"  *ngIf="details.invalid && details.touched" role="alert" style="text-align: center;padding: 2px; margin: 1rem;  ">
                    Details is Required.
                  </div>
            </div>
            
        </div>
        <div class="row">
            <div class="column">
                <label for="price_per_km">Price Per km</label>
                <input formControlName="price_per_km" type="price_per_km" id="price_per_km" placeholder="Enter Price Per km">
                <div class="alert alert-danger"  *ngIf="price_per_km.invalid && price_per_km.touched" role="alert" style="text-align: center;padding: 2px; margin: 1rem;  ">
                    Price Per km is Required.
                  </div>
            </div>
            <div class="column">
                <label for="min_charge">min_charge</label>
                <input formControlName="min_charge" type="min_charge" id="min_charge"  placeholder="Enter min_charge">
                <div class="alert alert-danger"  *ngIf="min_charge.invalid && min_charge.touched" role="alert" style="text-align: center;padding: 2px; margin: 1rem;  ">
                    min_charge is Required.
                  </div>
            </div>
            
        </div>
        <div class="row">
            <div class="column">
                <label for="max_time_min">max_time_min</label>
                <input formControlName="max_time_min" type="max_time_min" id="max_time_min" placeholder="Enter max_time_min">
                <div class="alert alert-danger" *ngIf="max_time_min.invalid && max_time_min.touched" role="alert" style="text-align: center;padding: 2px; margin: 1rem; ">
                    max_time_min is Required.
                  </div>
            </div>
            <div class="column">
                <label for="badge">badge</label>
                <input formControlName="badge" type="badge" id="badge" placeholder="Enter badge">
                <div class="alert alert-danger" *ngIf="badge.invalid && badge.touched" role="alert" style="text-align: center;padding: 2px; margin: 1rem; ">
                    badge is Required.
                  </div>
            </div>
            
        </div>
        
        <div class="container2">
            <button [disabled]="vehicaleform.invalid"  type="button" (click)="vehicles()" class="btn btn-outline-secondary">ADD</button>
            
        </div>
    
    </form>

</div>

</html>